<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
		<!-- Bootstrap -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="{{STATIC_URL}}css/filter.css" rel="stylesheet" />
		<style>{% block style %}{% endblock %}</style>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% include "scripts.html" %}
	</body>
</html>
