{% extends "base.html" %}

{% block title %}Forum{% endblock %}

{% block body %}
	<div id="nav">
		{% block nav %}
		<ul>{% block sidebar %}{% endblock %}</ul>
		{% endblock %}
	</div>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>
{% endblock %}


