{% extends "home.html" %}

{% load crispy_forms_tags %}

{% block title %}New Topic{% endblock %}

{% block content %}
	<form action="/t/new/" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Create</button>
			<button type="button" class="btn" onClick="history.back()"/>Cancel</button>
		</div>
	</form>
{% endblock %}
